<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech For Minorities - Experience</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<main>
    <div id="main-questionnaire" class="content-section">
        <div class="header">
            <h2 class="question-header">How much do you know about the field of software development?</h2>
        </div>
        <div class="buttons">
            <a href="/video"><button class="decision-button">Not Much</button></a>
            <a href="/find-resources"><button class="decision-button">I've Researched It</button></a>
        </div>
    </div>
    <div id="back-button" class="content-section">
        <form>
            <input type="button" value="Go Back" onclick="history.back()">
        </form>
    </div>
</main>
</body>
</html>