<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech For Minorities - Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<main>
    <div id="home-section" class="content-section">
        <h1>Tech For Minorities</h1>
        <h3>There are Opportunities for Everyone in Technology</h3>
        <p>To many, it may feel as if a career in technology is out of reach. They may think you need to be a math wiz, a college student, or have a particularly spacious garage.</p>
        <p><a href="https://www.quora.com/I-love-technology-but-I-dislike-math-What-tech-major-career-do-you-recommend">None of that is true.</a></p>
        <p>There are ways to break into the tech field that don't require any of those things. In fact, many people transition into the field of software development without any formal education on the subject at all! With the wealth of resources available online and through non-traditional avenues such as tech bootcamps, it's never been easier to start a career in software development.</p>
        <p>The only thing you need is a drive to learn.</p>

        <h3>Diversity. It's what Companies Crave!</h3>
        <p>And the best part is, not only are there countless ways to learn the skills but companies are desperate for more diverse talent. From <a href="https://www.apple.com/diversity/">Apple</a> to <a href="https://blog.google/outreach-initiatives/diversity/making-progress-diversity-and-inclusion/">Google</a> to everyone in between, companies are striving to be more inclusive. The supply of jobs for historically excluded candidates has never been higher.</p>
        <p>This is because companies that are interested in profits (and, it turns out, <a href="https://www.investopedia.com/terms/p/profit-motive.asp">most</a> of them are) are interested in diversity. Not only does increasing diversity tend to have a <a href="https://hbr.org/2013/12/how-diversity-can-drive-innovation">direct</a> and <a href="https://www.techrepublic.com/article/how-much-is-diversity-in-tech-worth-400b-says-comptia-ceo/">outsize</a> impact on revenue, but companies are recognizing that inequitable treatment of employees can also lead to increased <a href="https://www.kaporcenter.org/tech-leavers/">costs</a>. The bottom line is: diversity <a href="https://www.mckinsey.com/business-functions/organization/our-insights/why-diversity-matters">matters</a> to the bottom line.</p>
        <h3>Take Control</h3>
        <p>But don't do it for them. Do it for you. The average <em>starting</em> salary in software development is $<a href="https://www.glassdoor.com/Salaries/entry-level-software-developer-salary-SRCH_KO0,30.htm">62,378</a>. And the average salary overall? $<a href="https://www.zippia.com/software-developer-jobs/salary/#">80,437</a>.</p>
        <p>A career in technology is a socioeconomic rocket ship. As the tech <a href="https://en.wikipedia.org/wiki/Billionaire_space_race">billionaires</a> strive to reach the stars, make sure you don't get left behind.</p>
        <div class="buttons">
            <a href="/experience-question"><button class="continue-button">Show Me More</button></a>
        </div>
    </div>

</main>

</body>
</html>