<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech For Minorities - Resources</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="mentor-section" class="mentor-section">
    <h3 class="mentor-section-header">Find A Mentor</h3>
    <ul th:each="mentor:${mentorResources}">
        <li><img th:src="${mentor.imageUrl}"></li>
        <li th:text="${mentor.name}"></li>
        <li th:text="${mentor.email}"></li>
        <li th:text="${mentor.linkedIn}"></li>
        <li th:text="${mentor.languages}"></li>
        <li th:text="${mentor.pathToField}"></li>
        <li th:text="${mentor.bio}"></li>
    </ul>
</div>
<div id="bootcamp-section" class="bootcamp-section">
    <h3 class="bootcamp-section-header">Bootcamp Overview</h3>
    <ul th:each="bootcamp:${bootCampResources}">
        <li th:text="${bootcamp.resourceName}"></li>
        <li th:text="${bootcamp.description}"></li>
        <li th:text="${bootcamp.url}"></li>
    </ul>
</div>
<div id="self-directed-section" class="self-directed-section">
    <h3 class="self-directed-section-header">Learning on Your Own</h3>
    <ul th:each="learningSource:${selfDirectedResources}">
        <li th:text="${learningSource.resourceName}"></li>
        <li th:text="${learningSource.description}"></li>
        <li th:text="${learningSource.url}"></li>
        <li th:text="${learningSource.paidOrFree}"></li>
    </ul>
</div>
<div id="interview-section" class="interview-section">
    <h3 class="interview-section-header">Nailing the Interview</h3>
    <ul th:each="interview:${interviewHelpResources}">
        <li th:text="${interview.resourceName}"></li>
        <li th:text="${interview.description}"></li>
        <li th:text="${interview.url}"></li>
    </ul>
</div>
</body>
</html>