<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech For Minorities - Video</title>
</head>
<body>
<div>
    <h3>Why Become a Software Engineer?</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IA0Jg2ts2e4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>What most schools don’t teach</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nKIu9yen5nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3>Code – The New Literacy</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MwLXrN0Yguk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</body>
</html>